<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Welcome <%= title %>!</title>
</head>

<body>
    <h1>EJS Templating Engine!</h1>
    <p>This is some dynamic content: <%= message %>
    </p>
</body>

</html>